/bld/android_e_sqlcipher/
/bld/android_e_sqlite3/
/bld/obj/
/bld/bin/Debug/
/bld/crosscompilers/
/bld/*.libtoolfiles
/bld/*.gccargs
/bld/*.bat
/bld/*.linkargs
/bld/*.buildoutput.txt

# Auto generated shell scripts
bld/ios_e_sqlcipher.sh
bld/ios_e_sqlite3.sh
bld/linux_e_sqlcipher_arm64.sh
bld/linux_e_sqlcipher_armhf.sh
bld/linux_e_sqlcipher_armsf.sh
bld/linux_e_sqlcipher_cross.sh
bld/linux_e_sqlcipher_mips64.sh
bld/linux_e_sqlcipher_musl-arm64.sh
bld/linux_e_sqlcipher_musl-armhf.sh
bld/linux_e_sqlcipher_musl-x64.sh
bld/linux_e_sqlcipher_ppc64le.sh
bld/linux_e_sqlcipher_regular.sh
bld/linux_e_sqlcipher_s390x.sh
bld/linux_e_sqlcipher_x64.sh
bld/linux_e_sqlcipher_x86.sh
bld/linux_e_sqlite3_arm64.sh
bld/linux_e_sqlite3_armhf.sh
bld/linux_e_sqlite3_armsf.sh
bld/linux_e_sqlite3_cross.sh
bld/linux_e_sqlite3_mips64.sh
bld/linux_e_sqlite3_musl-arm64.sh
bld/linux_e_sqlite3_musl-armhf.sh
bld/linux_e_sqlite3_musl-x64.sh
bld/linux_e_sqlite3_ppc64le.sh
bld/linux_e_sqlite3_regular.sh
bld/linux_e_sqlite3_s390x.sh
bld/linux_e_sqlite3_x64.sh
bld/linux_e_sqlite3_x86.sh
bld/mac_dynamic_e_sqlcipher.sh
bld/mac_dynamic_e_sqlite3.sh
bld/mac_static_e_sqlcipher.sh
bld/mac_static_e_sqlite3.sh
bld/maccatalyst_dynamic_e_sqlcipher.sh
bld/maccatalyst_dynamic_e_sqlite3.sh
bld/tvos_e_sqlite3.sh
bld/wasm_e_sqlcipher.sh
bld/wasm_e_sqlite3.sh
